extends /layout/disconnected

block variables
    - const title = post.title
    - const description = post.excerpt
    - const brand = "nairi.dev"
    - const slogan = "Blog orienté programmation web, par les frères Nairi."

    include /component/parallax

block content
    +parallax({ src:post.image, alt: post.title })

    .container
        .row
            .col.s12
                h1 #{post.title}
        .row
            .col.s12 !{post.content}

block scripts
    script(src="/js/post/show.js")
