extends /layout/disconnected

block variables
    - const title = article.title
    - const description = article.excerpt
    - const brand = "nairi.dev"
    - const slogan = "Blog orienté programmation web, par les frères Nairi."

    include /component/parallax

block content
    +parallax({ src:article.image, alt: article.title })

    .container
        .row
            .col.s12
                h1 #{article.title}
        .row
            .col.s12 !{article.content}

block scripts
    script(src="/js/article/show.js")
