extends /layout/disconnected

block variables
	- const title = article.title
	- const description = article.excerpt
	- const brand = "nairi.dev"
	- const slogan = "Blog orienté programmation web, par les frères Nairi."
block content
	.parallax-container
		.parallax#parallax
			img(src=article.image)
	
	.container
		.row
			.col.s12
				h1 #{article.title}
		.row
			.col.s12 !{article.content}

block scripts
	script(src="/js/article/show.js")
