block variables
doctype html
html(lang="fr")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		meta(name="description" content=description)
		title #{title} - nairi.dev
		block links
			link(rel="manifest" href="/manifest.json")
			link(rel="stylesheet" type="text/css" media="none" onload="this.media = 'all';" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
			link(rel="stylesheet" type="text/css" media="none" onload="this.media = 'all';" href="https://fonts.googleapis.com/css?family=Fira+Code&display=swap")
			style.
				html {
					font-family: "Fira code", monospace;
				}
	body
		block content
		block scripts
			script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
			script(type="text/javascript").
				M.AutoInit();
