extends /layout/disconnected

block variables
    - const title = "Accueil"
    - const description = slogan

block content
    include /component/post

    .container
        .row
            .col.s12.center-align
                h1 nairi.dev
                div Blog orienté programmation web, par les frères Nairi.
        .row
            for post in posts
                .col.s12.m6.l6.xl4
                    +post({
                        image: post.image,
                        title: post.title,
                        excerpt: post.excerpt,
                        url: `/article/${post.slug}`,
                        publishDate: post.publishedAt
                    })
