extends /layout/disconnected

block variables
	- const title = "Accueil"
	- const description = "Blog orienté programmation web, par les frères Nairi."

block content
	include /component/article
	include /component/footer
	include /component/navbar
	include /component/navbar-item

	+navbar({ color: "black", brand: "nairi.dev" })
		+navbar-item({ title: "Articles", url: "/article" })
		+navbar-item({ title: "À propos", url: "/a-propos" })
		+navbar-item({ title: "Github", url: "https://github.com/khalyomede/nairi-dev" })

	.container
		.row
			.col.s12.center-align
				h1 nairi.dev
				div Blog orienté programmation web, par les frères Nairi.
		.row
			for article in articles
				.col.s12.m6.l6.xl4
					+article({
						image: article.image,
						title: article.title,
						excerpt: article.excerpt,
						url: article.url
					})

	+footer({
		color: "black",
		brand: "nairi.dev",
		slogan: "Blog orienté programmation web, par les frères Nairi.",
		copyright: "© 2019 nairi.dev"
	})
