mixin navbar(parameters)
    .navbar-fixed
        nav(class=parameters.color)
            .nav-wrapper
                .row
                    .col.s12
                        a.brand-logo(href="/") #{parameters.brand}
                        ul.right.hide-on-med-and-down
                            block
